{% extends "base.html" %}

{% block title %}Create Account | LocalFinds{% endblock %}

{% block content %}
{% if error %}
    <p class="error-message">{{ error }}</p>
{% endif %}
<form method="POST">
    <div id="create_account_form">
        <h1>
            Create Account
        </h1>
        <h1>
            <input type="text" name="username" placeholder="username" required>
        </h1>
        <p>
            <input type="password" name="password" placeholder="password" required>
        </p>
    <button type="submit">Create Account</button>
</form>
{% endblock %}