{% extends "base.html" %} {% block title %}Home | LocalFinds{% endblock %} {%
block content %}
<form action="{{ url_for('search_posts') }}" method="POST" class="search-bar">
  <input type="text" name="search" placeholder="Search finds..." required />
  <button class="btn" type="submit">Search</button>
</form>
<table class="posts-table">
  <thead>
    <th>Newest Finds:</th>
  </thead>
  <tbody class="posts-records">
    {% for post in all_posts %}
    <tr>
      <td class="record">
        <a href="{{ url_for('serve_post', post_id=post['id']) }}">
          <div class="post-preview">
            <p id="subject">{{ post.subject }}</p>
            <p id="address">{{ post.address }}</p>
            <p id="tags">{{ post.tags }}</p>
            <p id="creation-details">
              {{ post.author_id }}, {{ post.created_at }}
            </p>
          </div>
        </a>
      </td>
    </tr>
    {% else %}
    <tr>
      <td class="record">No posts yet.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
