{% extends "base.html" %}

{% block title %}{{ account.username }} | LocalFinds{% endblock %}

{% block content %}
<div class="post-head">
    <h1>{{ account.username }}</h1>
    <p>Member since <span>{{ account.joined }}</span>.</p>
</div>
{% if session.username == account.username %}
    <a href="{{ url_for('edit_account', username=account.username) }}">Edit Account</a>
{% elif session.username == "admin" %}
    <a href="{{ url_for('remove_account', username=account.username) }}">Delete User's Account and Posts</a>
{% endif %}
{% endblock %}