<!DOCTYPE html>
<html lang="en">
    <!-- This is a template document. Anything in brackets corresponds to a category in the database. -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="LocalFinds is the place to go to find local parks, small businesses, and unique spots in your area.">
        <title>
            [subject] | LocalFinds
        </title>
    </head>
    <body>
        <header>
            <a href="index.html">
                <img src="lflogo.svg" alt="LocalFinds" class="logo">
            </a>
        </header>
        <main>
            <div id="post_head">
                <h1>[subject]</h1>
                <p>Found by <span>[author_id]</span> on <span>[created_at]</span>. Last updated <span>[updated_at]</span>.</p>
                <p>[tags]</p>
            </div>
            <div id="post_body">
                <h3>[address]</h3>
                <p>[content]</p>
            </div>
        </main>
        <footer>
            <p>This website was produced by Team LocalFinds as a project for Indiana University Southeast.</p>
        </footer>
    </body>
</html>