<header class="site-header">
    <a href="{{ url_for('home') }}" class="logo-link">
        <img src="{{ url_for('static', filename='images/lflogo.png') }}" alt="LocalFinds" class="logo">
    </a>

    <nav class="header-nav">
        {% if 'user_id' in session %}
            <span class="username">{{ session.username }}</span>
            <a href="{{ url_for('logout') }}" class="btn">Logout</a>
        {% elif request.endpoint not in ['create_account', 'login'] %}
            <a href="{{ url_for('login') }}" class="btn">Login</a>
        {% endif %}
    </nav>
</header>