<header class="site-header">
    <div class="left-header">
        <a href="{{ url_for('home') }}" class="logo-link">
            <img src="{{ url_for('static', filename='images/lflogo_banner.svg') }}" alt="LocalFinds" class="logo">
        </a>
    </div>
    
    <nav class="account-nav">
        {% if 'user_id' in session %}
            <div class="new-post-button">
                <a href="{{ url_for('create_post') }}" class="btn">New Find</a>
            </div>
            <a href="{{ url_for('view_account', username=session['username']) }}">
                {{ session.username }}
            </a>
            <a href="{{ url_for('logout') }}" class="btn">Log Out</a>
        {% elif request.endpoint not in ['create_account', 'login'] %}
            <a href="{{ url_for('login') }}" class="btn">Log In</a>
        {% endif %}
    </nav>
</header>